body {
    background-color: #001b2e; 
    margin: 70px; 
    margin-top: 70px;
    margin-left: 50px;
}

#titleOne {
    margin-bottom: -25px;
    color: white;
    margin-left: 13px;
    
}  

#titleTwo {
    color:#10B981;
    margin-left: 13px;
}

h4 {
    color: #6B7280;
    margin-bottom: 50px;
    margin-top: -10px;
    margin-left: 13px;
}


button{
    background: #34D399;
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    margin-left: 14px; 
}

.columncontaner {
    margin-top: 50px; 
    display: flex; 
    flex-direction: row;
    
}

.column {
    background: #0d3b66;
    width: 50%;
    text-align: center;
    color: #10B981;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px
    

}





